spring-social-config/src/test/resources/org/springframework/social/config/xml/spring-social-fake-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:social="http://www.springframework.org/schema/social/fake"
	targetNamespace="http://www.springframework.org/schema/social/fake">

	<xs:element name="fake">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>